.move-list {
    margin: 0;
    padding: 0;
  
  }
  
  .move-list li {
    background-color: purple;
    list-style: none;
    padding: 4px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius:16px ;
    
  }
  
  body {
    background-color: black;

  }
  
  .image {
    background-color: cadetblue;
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 16px;
    width: 260px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .search-container {
    display: flex;
    flex-direction: row;
    
  }
  
  .go-button {
    background-color: purple;
    padding: 4px;
    border-radius: 16px;
    cursor: pointer;
  }
  
  .go-button:hover {
    background-color: cadetblue;
  }